#footer {
	position: relative;
	width: 100%;
	min-height: 100px;
	background-color: rgba(36, 32, 33, 0.9);
	color: white;
	font-family: 	"Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", 
								"Bitstream Vera Sans", "Trebuchet MS", Verdana, 
								"Verdana Ref", sans-serif;
	padding: 10px 0px;
	margin-top: 30px;
}

#footer a {
	color: white;
	font-weight: 100;
}